@import '../styles/base.scss';

.recipe {
  h1 {
    color: $primary-color;
  }
  .date {
    color: $alternative-text;
  }

  h2 {
    margin-top: 50px;
    color: $recipe-title;
  }

  h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    color: $recipe-title;
  }

  ul {
    margin-left: 30px;
    li {
      margin-top: -6px;
    }
  }

  ol {
    margin-left: 30px;
  }

  .recipe-process-image{
    display: inline;
    img {
      width: 195px;
      height: auto;
      margin: 5px;
    }
  }

  .ant-collapse {
    margin-top: 30px;
  }

  .image-container {
    text-align: center;
    img {
      max-height: 400px;
      max-width: 600px;
    }
  }

  @media only screen and (max-width: 450px) {
    .recipe-process-image{
      img {
        width: 300px;
        height: auto;
        margin: 5px;
      }
    }
  }

}

