@import '../styles/base.scss';

.blog-post {
  h1 {
    color: $primary-color;
  }
  .date {
    color: $alternative-text;
  }

  h2 {
    margin-top: 50px;
    color: $recipe-title;
  }

  h3 {
    margin-top: 30px;
    color: $recipe-title;
  }

  ul {
    margin-left: 30px;
    li {
      margin-top: -8px;
    }
  }

  ol {
    margin-left: 30px;
  }

 
  .featured-image {
    picture img {
      //border-radius: 50%;
    }
  }


}