/* General app */
$primary-color: #19807A;
$secundary-color: #707070;
$secundary-color-variant: #D4D4D4;
$secundary-text: #FFFFFF;
$alternative-text: #8BC932;
$selected-color: #C30172;


// Main dishes
$recipe-title: #C30172;


//Search bar
$search-border: #d4d4d4;
$search-background: #f6f6f6;