/* General app */
$primary-color: #19807A;
$secundary-color: #707070;
$secundary-color-variant: #D4D4D4;
$secundary-text: #FFFFFF;
$alternative-text: #8BC932;



// Main dishes
$recipe-title: #C30172;