/* General app */
$primary-color: #19807A;
$secundary-color: #707070;
$secundary-text: #FFFFFF;
$alternative-text: #8BC932;



// Main dishes
$primary-main-dish: #871F58;
$secundary-main-dish: #C30172;