.categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;

  .card-container {
    width: 250px;
    margin: 15px;
    text-align: center;
  }

  img {
    background-size: 0 150px;
    height: 160px;
    padding: 0 6px 0 6px;
  }

  .ant-card {
    height: 300px;

    .ant-card-body {
      padding: 0;
      margin-top: -10px;
      font-size: 13px;
    }
  }
}
