@import "../styles/base.scss";

.categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;

  .card-container {
    width: 250px;
    margin: 15px;
    text-align: center;
  }

  img {
    height: 160px;
    background-size: 0 160px;
    border-radius: 4px 4px 0 0;
  }

  .ant-card {
    height: 300px;
    box-shadow: 0px 0px 5px 0px $light-shadow;
    border: 1px solid $light-border;
    border-radius: 4px;

    &:hover {
      border-color: none;
      box-shadow: 0px 0px 5px 0px $secundary-focus;
    }

    
    .title-card {
      font-size: medium;
      font-weight: 500;
      margin-bottom: 20px;
      color:$primary-color;
    }

    .ant-card-body {
      padding: 0 8px 0 8px;
      margin-top: -10px;
      font-size: 13px;
    }

    .ant-card-head {
      border-bottom: none;
    }

  }
}
