@import "../styles/base.scss";

.flag-divider  {
  height: 18px;
  width: 100%;
  //background-repeat: round'
  background-size: contain;;
  background-image: url(../../content/assets/costa-rica-flag.svg);
  margin-bottom: 20px; 
}

