@import "../styles/base.scss";

.flag-divider  {
  height: 18px;
  width: 100%;
  background-size: contain;
  background-position: 0 0;
  background-image: url(../../content/assets/costa-rica-flag.svg);
  margin-bottom: 20px; 
}

