@import '../styles/base.scss';

footer {
  height: 100px;
  width: 100%;
  background-color: $secundary-color;
  color: $secundary-text;

  .line {
      border-bottom: 4px double #FFFFFF;
      width: 100%;
      padding-top: 5px;
      opacity: 0.3;
  }
  .legend {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      height: 25px;
      margin-top: 5px;
      margin-left: 10px;
    }

    .rigths{
      margin-top: -10px;
    }
  }

}