
@import '../styles/base.scss';

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 70px;
  
  h1, .ant-menu-root {
    font-family: photograph-signature;
  }

  .ant-menu-root {
    font-size: 30px;
  }

  .logo{
    display: flex;
    flex-grow: 1;
    height: 100px;
    background-image: url(../../content/assets/logo.svg);
    background-repeat: no-repeat;
    background-size: 230px 100px;
    margin-left: 10px;
  }

  .menu-container {
    align-self: flex-end;
    margin-bottom: 10px;
  }

  .ant-menu-horizontal {
    border-bottom: none;
  }

  .horizontal-divider {
    border-bottom: 1px solid $secundary-color-variant;
    width: 100%;
  }

  @media only screen and (max-width: 450px) {
    .ant-menu-root {
      font-family: 'antic-slab';
      font-size: medium;
      margin-top: 30px;
      margin-left: -13px;
    }

    .horizontal-divider { 
      margin-top: 3px; 
    }

  }
  
}