@import "../styles/base.scss";

.search-bar {
  display: flex;
  align-items: center;
  width: 400px;
  background: $search-background;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid $search-border;
  

  &:focus-within {
    border-color: $primary-focus;
    box-shadow: 0px 0px 8px 0px $primary-focus;
  }

  @media only screen and (max-width: 450px) {
    width: 310px;
  }

  input {
    width: 340px;
    background-color: transparent;
    outline: none;
    border: none;
    margin-left: 8px;
    
  }

  .icon-search,
  .icon-milk {
    fill: $primary-color;
    height: 25px;
    width: 25px;
    margin: 0 auto;
    flex-shrink: 0;
  }

  .icon-search {
    height: 20px;
    width: 20px;
  }

  @media only screen and (max-width: 450px) {
    input {
      width: 250px;
    }
  }
}
