@import '../styles/base.scss';

.tips {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;

  .card-container {
    width: 260px;
    margin: 9px;
    text-align: center;
  }

  img {
    background-size: 0 150px;
    height: 400px;
    padding: 0 6px 0 6px;
  }

  .ant-card {
    height: 640px;
    border: 1px solid $secundary-color-variant;
    border-radius: 6px;


    .ant-card-body {
      padding: 5px;
      margin-top: -10px;
    }

    .ant-card-head {
      height: 110px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: none;
    }
  }

  .ant-card-head-title {
    white-space:initial;
  }

}
