@import "../styles/base.scss";

.toggle-button {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  

  &.active {
    background-color: $primary-color;
    border-radius: 50px;
    svg {
      fill: white;
    }
  }

  &.inactive {
    background-color: transparent;
    &:hover {
      background-color: $secundary-color-variant;
      border-radius: 50px;
      svg {
        fill: $primary-color;
      }
    }
  }

  

  
}