@import '../styles/base.scss';



.traditional-food {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;

  

  .card-container {
    position: relative;
    width: 260px;
    margin: 15px;
    text-align: center;
  }

  img {
    height: 210px;
    background-size: 0 160px;
    border-radius: 4px 4px 0 0;
  }

  .ant-card {
    height: 370px;
    box-shadow: 0px 0px 5px 0px $light-shadow;
    border: 1px solid $light-border;
    border-radius: 4px;
    background-image: url(../../content/assets/pattern.svg);

    &:hover {
      border-color: none;
      box-shadow: 0px 0px 5px 0px $secundary-focus;
    }

    
    .title-card {
      margin-bottom: 20px;
      font-size: large;
      background: linear-gradient(0.75turn, #D50000,  #D50000, #00419A, #00419A );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .ant-card-body {
      padding: 0 8px 0 8px;
      margin-top: -10px;
      font-size: 13px;
    }

    .ant-card-head {
      border-bottom: none;
    }

  }

}



